@media (min-width:320px) and (max-width:767px){
  /* --------header -------------*/
  .container {
    padding-top: 0px;
  }
  .top-header {
    margin-top: 0;
    display: block;
  }
  .top-icon-box {
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
  .logo {
    text-align: center;
  }
  .top-header .follow-text {
    display: none;
  }
  .social.sm {
    display: block;
  }
  .search-navigation-social {
    flex-direction: column;
    justify-content: center;
  }
  .search-navigation-social .social {
    display: none;
  }
  .search input {
    width: 400px;
    text-align: center;
  }
  .nav-icon {
    display: flex;
    align-self: flex-end;
  }
  .nav-icon i:hover {
    outline: 1px solid #43545d;
    cursor: pointer;
  }
  .nav-icon i {
    padding: 5px 10px;
    margin: 10px 20px;
  }
  .navigation {
    display: none;
  }
  .navigation.active {
    display: block;
    width: 100%;
  }
  
  .navigation ul {
    display: block;
  }
  .navigation ul li a {
    text-align: center;
    color: #fff;
  }
  .navigation.active li {
    padding: 20px;
    background-color: #43545d;
    color: #fff;
    text-align: center;
  }
  .navigation.active li a {
    padding: 10px;
    font-size: 40px;
  }


  #sub-nav-box.active {
    left: 10%;
    margin-top: 0px;
    width: 350px;
  }

  /*------------------------Seite 1--------------------------*/
  /*-------SLIDE*---------*/
  .caption {
    font-size: 45px;
    text-align: center;
  }
  /*-------GALLERY--------*/
  .modal-image {
    max-width: 400px;
    margin-bottom: -4px;
    max-height: 300px;
  }
  .slide-number {
    top: 0;
    left: 9%;
  }
  .prev-modal {
    left: 0;
  }
  .next-modal {
    right: 0;
  }
  .prev-modal, .next-modal {
    top: 15%;
  }
  .caption-modal {
    bottom: 50%;
  }
  .row {
    /*max-width: 400px;*/
    max-width: 100%;
    flex-wrap: wrap;
  }
  .column:nth-child(1) {
    width: 400px;
  }
  .column:nth-child(2) {
    width: 185px;
  }
  .column:nth-child(3) {
    width: 200px;
  }
  .column:nth-child(4) {
    width: 170px;
  }
  .column:nth-child(5) {
    width: 215px;
  }
  .column:nth-child(6) {
    width: 500px;
  }
  .column:nth-child(7) {
    width: 500px;
  }
  .column:nth-child(8) {
    width: 235px;
  }
  .column:nth-child(9) {
    width: 150px;
  }

  /* ------ section 1 --------- */
  .button button {
    left: 30%;
  }

   .text-section1 {
    position: relative;
    width: 100%;
    padding: 0 30px 30px;
  }

  .text-section1 h2 {
    margin: 10px;
    text-align-last: center;
  } 

 
   .footer {
    display: block;
    text-align: center;
  } 

  /*----------------SEITE 2----------*/
  h2 {
    font-size: 50px;
    margin: 30px;
  }

  /*---------SECTION1-----------*/
  .workshop-section1 {
    margin: 0;
  }

  /*------SECTION2------------*/
  .workshop-section2 {
    margin-top: 80px;
  }

 .workshop-box{
   flex-direction: column;
   align-items: center;
 }

  .workshop1, .workshop2 {
    height: auto;
  }

  .workshop1-box, .workshop2-box {
    margin: 0;
    height: auto;
    width: 90%;
  }

  .workshop1-box {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .workshop1-box h4, .workshop2-box h4 {
    text-align: center;
    padding: 0;
  }

  .workshop1-box p, .workshop2-box p {
    padding: 0px 50px 50px;
  }

  .sale {
    right: 7%;
  }

  .price a {
    left: 1%
  }

  /*----------SECTION3----------*/
  .workshop-section3 {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 50px;
  }

  /*------SECTION4------------*/
  .ice-cream-box {
    flex-direction: column;
    align-items: center;
  }

  .ice-cream {
    margin-bottom: 30px;
  }
  /*-------SEITE3------*/
  .form-container{
    left: 10%;
    max-width: 400px;
  }
  .check-form-group-box{
    flex-direction: column;
  }
  .form-box{
    height: 1400px;
  }
 }

/* Iphones */
 @media screen and (min-device-width: 320px) and (max-device-width: 767px){  
  
  /* --------header -------------*/
  .container {
    padding-top: 0px;
  }
  .top-header {
    margin-top: 0;
    display: block;
  }
  .top-icon-box {
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
  .logo {
    text-align: center;
  }
  .top-header .follow-text {
    display: none;
  }
  .social.sm {
    display: block;
  }
  .search-navigation-social {
    flex-direction: column;
    justify-content: center;
  }
  .search-navigation-social .social {
    display: none;
  }
  .search input {
    width: 400px;
    text-align: center;
  }
  .nav-icon {
    display: flex;
    align-self: flex-end;
  }
  .nav-icon i:hover {
    outline: 1px solid #43545d;
    cursor: pointer;
  }
  .nav-icon i {
    padding: 5px 10px;
    margin: 10px 20px;
  }
  .navigation {
    display: none;
  }
  .navigation.active {
    display: block;
    width: 100%;
  }
  
  .navigation ul {
    display: block;
  }
  .navigation ul li a {
    text-align: center;
    color: #fff;
  }
  .navigation.active li {
    padding: 20px;
    background-color: #43545d;
    color: #fff;
    text-align: center;
  }
  .navigation.active li a {
    padding: 10px;
    font-size: 40px;
  }


  #sub-nav-box.active {
    left: 10%;
    margin-top: 0px;
    width: 350px;
  }

  /*------------------------Seite 1--------------------------*/
  /*-------SLIDE*---------*/
  .caption {
    font-size: 45px;
    text-align: center;
  }
  /*-------GALLERY--------*/
  .modal-image {
    max-width: 400px;
    margin-bottom: -4px;
    max-height: 300px;
  }
  .slide-number {
    top: 0;
    left: 9%;
  }
  .prev-modal {
    left: 0;
  }
  .next-modal {
    right: 0;
  }
  .prev-modal, .next-modal {
    top: 15%;
  }
  .caption-modal {
    bottom: 50%;
  }
  .row {
    /*max-width: 400px;*/
    max-width: 100%;
    flex-wrap: wrap;
  }
  .column:nth-child(1) {
    width: 400px;
  }
  .column:nth-child(2) {
    width: 185px;
  }
  .column:nth-child(3) {
    width: 200px;
  }
  .column:nth-child(4) {
    width: 170px;
  }
  .column:nth-child(5) {
    width: 215px;
  }
  .column:nth-child(6) {
    width: 500px;
  }
  .column:nth-child(7) {
    width: 500px;
  }
  .column:nth-child(8) {
    width: 235px;
  }
  .column:nth-child(9) {
    width: 150px;
  }

  /* ------ section 1 --------- */
  .button button {
    left: 30%;
  }

   .text-section1 {
    position: relative;
    width: 100%;
    padding: 0 30px 30px;
  }

  .text-section1 h2 {
    margin: 10px;
    text-align-last: center;
  } 

 
   .footer {
    display: block;
    text-align: center;
  } 

  /*----------------SEITE 2----------*/
  h2 {
    font-size: 50px;
    margin: 30px;
  }

  /*---------SECTION1-----------*/
  .workshop-section1 {
    margin: 0;
  }

  /*------SECTION2------------*/
  .workshop-section2 {
    margin-top: 80px;
  }

 .workshop-box{
   flex-direction: column;
   align-items: center;
 }

  .workshop1, .workshop2 {
    height: auto;
  }

  .workshop1-box, .workshop2-box {
    margin: 0;
    height: auto;
    width: 90%;
  }

  .workshop1-box {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .workshop1-box h4, .workshop2-box h4 {
    text-align: center;
    padding: 0;
  }

  .workshop1-box p, .workshop2-box p {
    padding: 0px 50px 50px;
  }

  .sale {
    right: 7%;
  }

  .price a {
    left: 1%
  }

  /*----------SECTION3----------*/
  .workshop-section3 {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 50px;
  }

  /*------SECTION4------------*/
  .ice-cream-box {
    flex-direction: column;
    align-items: center;
  }

  .ice-cream {
    margin-bottom: 30px;
  }
  /*-------SEITE3------*/
  .form-container{
    left: 10%;
    max-width: 400px;
  }
  .check-form-group-box{
    flex-direction: column;
  }
  .form-box{
    height: 1400px;
  }
 }
/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    display: flex;
    justify-content: space-around;
  } 
 }
/* IPADS */

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .footer {
    display: flex;
    justify-content: space-around;
  } 
 }

  /*Large devices (desktops, 992px and up)*/
  @media only screen and (min-device-width: 992px) and (max-device-width: 1100px) {

    .container {
      max-width: 900px;
      padding-top: 20px;
    }
  
  
    .caption p {
      font-size: 60px;
    }
  
    /*------------------------Seite 1--------------------------*/
   /* -------GALLERY---------*/
    .row {
      max-width: 1000px;
      flex-wrap: wrap;
    }
  
    .column:nth-child(1) {
      width: 465px;
    }
  
    .column:nth-child(2) {
      width: 207px;
    }
  
    .column:nth-child(3) {
      width: 310px;
    }
  
    .column:nth-child(4) {
      width: 219px;
    }
  
    .column:nth-child(5) {
      width: 265px;
    }
  
    .column:nth-child(6) {
      width: 497px;
    }
  
    .column:nth-child(7) {
      width: 465px;
    }
  
    .column:nth-child(8) {
      width: 310px;
    }
  
    .column:nth-child(9) {
      width: 206px;
    }
  
    .top-header {
      display: flex;
      justify-content: space-around;
    }
    
    .top-header .follow-text {
      display: block;
    }
    .top-icon-box{
      padding: 0px;
    }
    .header-icons {
      width: 150px;
    }
    
    .header-icons i {
      padding-right: 10px;
    }
    
    
    .social i {
      padding-left: 10px;
    }
    
    .social.sm {
      display: none;
    }
    
    /* .logo {
       width: 320px;
    } */
    

    .search-navigation-social {
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
    }

    .search input {
      width: 150px;
    }
    
    .search-navigation-social .social {
      display: flex;
      justify-content: flex-end;
    }
    .navigation {
      display: block;
    }


.nav-icon {
  display: none;
}

.navigation ul {
  display: flex;
}

.navigation ul li a {
  color: #43545d;
}

.navigation.active li a {
  padding: 20px;
}


.sub-nav ul li a {
  padding: 15px;
}


#sub-nav-box.active {
  margin-top: 45px;
  left: 39%;
  width: 300px;
}

.caption{
  text-align: left;
}
.text-section1{
  width: 46.3%;
  position: absolute;
}

.button button{
  left: 10%;
}

.footer {
  display: flex;
  justify-content: space-between;
} 
   }
  
   