* {
  box-sizing: border-box;
}

button:focus, input:focus {
  outline: 0;
}

body {
  color: #43545d;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

/* font-family: 'Dancing Script', cursive;*/
a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding-inline-start: 0px;
}

h2 {
  font-size: 55px;
}

h1, h2, h3, h4 {
  font-family: 'Dancing Script', cursive;
}

p {
  line-height: 1.6em;
}

hr {
  height: 1px;
  background-color: #616161;
  width: 750px;
  margin: 0 auto;
}

i:hover {
  cursor: pointer;
 }

.container {
  max-width: 1300px;
  margin: 0 auto;
  /*outline:1px solid #f0f0f0;*/
  padding-top: 20px;
  overflow: hidden;
}

/*--------HEADER---------------------------------*/
.top-header, .search-navigation-social, .caption p,
.footer, .ice-cream-box, .workshop-section2-text {
  max-width: 1100px;
  margin: 0 auto;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.top-header .follow-text {
  width: 150px;
  text-align: right;
}

.header-icons {
  width: 150px;
}

.header-icons i, .social i {
  color: #43545d;
  font-size: 26px;
}

.header-icons i {
  padding-right: 10px;
}

.search-navigation-social .social {
  width: 150px;
  text-align: right;
}

.social i {
  padding-left: 10px;
}

.social.sm {
  display: none;
}

.logo {
  /*  width: 320px;*/
}

.follow-text a {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: bold;
  color: #43545d;
}

.search-navigation-social {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  position: relative;
}

.search input {
  width: 150px;
  border-radius: 8px;
  border: 2px solid #43545d;
  padding: 8px;
  padding-left: 40px;
  font-size: 18px;
}

i.fa.fa-search {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 18px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #444;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #444;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #444;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #444;
}

.nav-icon {
  display: none;
  font-size: 40px;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  list-style: none;
  font-size: 20px;
  position: relative;
  margin-left: 3px;
}

.navigation ul li a {
  color: #43545d;
  background: linear-gradient(0deg, #ccc, #ccc) bottom center no-repeat, linear-gradient(0deg, #f4b805, #f4b805) center calc(100% - 2px) no-repeat;
  background-size: 0px 2px;
  transition: 0.5s;
  padding: 15px;
}

.navigation ul li a:hover {
  background-size: 100% 2px;
  background-color: #43545d;
  color: #fff;
}

.navigation .active-menu {
  background-color: #43545d;
  color: #fff;
}

.navigation.active {
  background-color: #43545d;
  color: #fff;
}

.navigation.active li a {
  padding: 20px;
}

.navigation.active li {
  padding: 20px;
}

.sub-nav ul li a {
  padding: 15px;
}

/*.sub-nav:hover #sub-nav-box{
  display: block;
}*/
#sub-nav-box {
  display: none;
  position: absolute;
  z-index: 100;
}

#sub-nav-box.active {
  display: block;
  background-color: #fff;
  text-align: center;
  width: 300px;
  margin-top: 45px;
  right: 35%;
  border: 1px solid #ccc;
}

#sub-nav-box li {
  margin-left: 0px;
}

#sub-nav-box li a {
  width: 100%;
  display: block;
}

#sub-nav-box li:hover {
  background-color: #43545d;
  color: #fff;
}

/*----------------------------SLIDER------------------*/
.slide-container {
  position: relative;
  max-width: 1300px;
  max-height: 630px;
  overflow: hidden;
  margin-top: 30px;
  z-index: 1
}

/*.slide-images{
 filter: brightness(100%);
*/
.slide-images img {
  margin: 0 auto;
  display: none;
  width: 100%;
}

.slide-images img.active {
  display: block;
}

/*---Fade animation----*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  transition: 1.5s ease-in-out;
}

/*.slide-images:hover{
  animation-name: fade;
  animation-duration: 2s;
  transition: 0.5s ease-in-out;
}*/
/*.slide-images:hover{
  filter: brightness(50%);
  transition: 1s ease-in-out;
}*/
@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.prev, .next, .pause, .play {
  padding: 20px;
  background-color: rgba(181, 180, 185, 0.5);
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 30px;
  z-index: 1;
}

.pause, .play {
  top: 0;
  right: 0;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

.pause.active {
  display: none;
}

.play {
  display: none;
}

.play.active {
  display: block;
}

.next {
  right: 0;
}

.prev:hover, .next:hover, .pause:hover, .play:hover {
  background-color: #616161;
  border: 1px solid #fff;
  transition: 0.5s ease-in-out;
}

.caption {
  position: absolute;
  bottom: 10px;
  color: #f4b805;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 80px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  width: 100%;
}

.dots-box {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.dots {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 3px;
}

.dots.active {
  background-color: #43545d;
}

/*-------------------SECTION1--------------*/
.section1-box {
  position: relative;
}

.section1-bg {
  background-image: url('../img/img12.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  max-width: 1200px;
  height: 400px;
  position: relative;
}

.button button {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  text-transform: uppercase;
  border: none;
  color: #616161;
  -webkit-box-shadow: -3px -1px 14px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: -3px -1px 14px 0px rgba(50, 50, 50, 0.3);
  box-shadow: -3px -1px 14px 0px rgba(50, 50, 50, 0.3);
}

.button button:hover {
  background-color: #43545d;
  color: #fff;
  transition: 0.5s ease-in-out;
}

.text-section1 {
  width: 46.3%;
  position: absolute;
  right: 0;
  z-index: 1;
  top: 0;
  padding: 0px 30px 30px 80px;
  background-color: #fff;
  height: 100%;
}

/*-------------SECTION2----------------------------*/
.section2 {
  background-color: #ffcf48;
  padding: 30px;
}

.section2 h2 {
  color: #fff;
  text-align: center;
  margin: 10px;
}

.section2 p {
  padding-bottom: 20px;
}

.section2-content button {
  background-color: #fff;
  width: 255px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  color: #616161;
  -webkit-box-shadow: -3px -1px 14px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: -3px -1px 14px 0px rgba(50, 50, 50, 0.3);
  box-shadow: -3px -1px 14px 0px rgba(50, 50, 50, 0.3);
  margin: 20px auto;
  display: block;
}

.section2-content button:hover {
  background-color: #43545d;
  color: #fff;
  transition: 0.5s ease-in-out;
}

/*----------GALLERY----------*/
.gallery-container {
  margin: 3px 0;
}

.gallery-container h1 {
  text-align: center;
  font-size: 70px;
}

.row {
  display: flex;
  justify-content: center;
  flex: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  margin: 3px;
}

/*BRIGHTNESS EFFECT*/
.column img {
  height: 318px;
  width: 100%;
  overflow: hidden;
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}

.column img:hover {
  filter: brightness(50%);
}

/*ZOOM THUMB */
.image-thumb-zoom {
  height: 318px;
  overflow: hidden;
}

.image-thumb-zoom:hover img {
  transform: scale(1.5);
}

/*------MODAL WINDOW ------*/
.gallery-container {
  padding-bottom: 50px;
}

.modal-window {
  font-family: 'Dancing Script', cursive;
  background-color: #000;
  width: 100%;
  position: fixed;
  padding-top: 100px;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  display: none;
}

.modal-window.active {
  display: block;
}

.modal-window-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.modal-image-box {
  height: 800px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.modal-image {
  max-width: 1200px;
  margin-bottom: -4px;
}

.slide-number {
  position: absolute;
  top: 0;
  left: -10%;
  padding: 10px;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.caption-modal {
  position: absolute;
  bottom: 2%;
  font-size: 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 1200px;
  text-align: center;
}

.prev-modal, .next-modal {
  background-color: transparent;
  font-size: 34px;
  padding: 15px;
  border: none;
  position: absolute;
  color: #fff;
  top: 45%;
}

.next-modal {
  right: -10%;
}

.prev-modal {
  left: -10%;
}

.next-modal:hover, .prev-modal:hover {
  background-color: #444;
  opacity: 0.6;
  border-radius: 5px;
}

/* Add Animation - Zoom in the Modal */
.modal-image, .caption-modal {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

span {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: bold;
  color: #43545d;
}

h3 {
  font-size: 30px;
}

.time-table p, .phone, .footer .social, .footer .follow-text {
  line-height: 2.3em;
}

/*-------FOOTER-LINE-----*/
.footer-line {
  background-color: #43545d;
  color: #fff;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding: 30px 0;
}

/*-------------------------------------------------------------------WORKSHOP SEITE-------------------------------------*/
/*-------SECTION1-----*/
.workshop-section1 {
  margin: 60px 0px;
}

.text-workshop-section1 {
  line-height: 2em;
  font-size: 24px;
  position: absolute;
  z-index: 1;
  max-width: 600px;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
}

.img-workshop-section1 {
  background-image: url(../img/img-big.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 600px;
  height: 400px;
  position: relative;
  right: -600px;
  background-size: cover;
  overflow: hidden;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 700px solid #fff;
  border-right: 250px solid transparent;
  margin-left: -100px;
}

/*-------SECTION2--------*/
.workshop-box {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.workshop-section2 h2 {
  text-align: center;
  margin-bottom: 30px;
}

.workshop-section2-text p {
  padding-bottom: 50px;
}

.paralax1 {
  background-image: url('../img/ice-cream-4848501_1920.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 300px;
  position: relative;
  background-size: cover;
  display: flex;
}

.workshop1-box {
  background-color: #fad359;
}

.workshop1-box, .workshop2-box {
  height: 750px;
  margin-top: 30px;
  font-size: 24px;
  position: relative;
  width: 45%;
}

.workshop1-box h4, .workshop2-box h4 {
  font-family: 'Quicksand', sans-serif;
  padding: 10px 40px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.workshop1-box a, .workshop2-box a {
  color: #43545d;
}

.workshop1-box a:hover, .workshop2-box a:hover {
  font-weight: bold;
}

.workshop1-box p, .workshop2-box p {
  padding: 10px 40px;
}

.workshop2-box {
  background-color: #ffffcc;
}

.workshop1, .workshop2 {
  height: 352px;
  overflow: hidden;
}

.price a {
  color: red;
  font-size: 18px;
  background-color: #fff;
  padding: 10px 15px;
  border: 1px solid #43545d;
  display: inline-block;
  position: absolute;
  bottom: 2%;
  left: 1%;
  font-weight: bold;
}

.price a:hover {
  background-color: #eee;
}

.price span {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
}

.workshop2 .price {
  margin-top: 20px;
}

.sale {
  font-size: 40px;
  font-weight: bold;
  background-color: #fe424d;
  color: #fff;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 1%;
  right: 0;
  padding: 10px 30px;
}

.workshop2 img {
  position: relative;
}

/*--------------SECTION3----------*/
.workshop-section3 {
  padding: 30px 100px 50px 100px;
}

.workshop-section3 h2, .workshop-section4 h2 {
  text-align: center;
}

.paralax2 {
  background-image: url('../img/ice-cream-4856707_1920.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 300px;
  position: relative;
  background-size: cover;
  display: flex;
  margin-bottom: 50px;
}

/*---SECTION4-*/
.ice-cream-box {
  display: flex;
  justify-content: space-between;
}

.ice-cream {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 7px 2px 10px 0px rgba(50, 50, 50, 0.18);
  -moz-box-shadow: 7px 2px 10px 0px rgba(50, 50, 50, 0.18);
  box-shadow: 7px 2px 10px 0px rgba(50, 50, 50, 0.18);
}

.ice-cream img {
  width: 135px;
  height: 130px;
}

.ice-cream p {
  text-transform: uppercase;
}

.text-bottom {
  padding: 20px 0;
  text-align: center;
  margin: 60px 0 60px 0;
  background-color: #f3c839;
  font-weight: bold;
  text-transform: uppercase;
}

/*---SECTION5-*/
.workshop-section5 {
  background-color: #43545d;
  color: #fff;
  text-align: center;
  padding-bottom: 60px;
  margin-bottom: 40px;
}

.workshop-section5 h2 {
  padding: 40px;
}

.workshop-section5 a button {
  background-color: #fff;
  padding: 20px 60px;
  text-transform: uppercase;
}

.workshop-section5 button:hover {
  background-color: #f3c839;
  transition: 0.5s ease-in-out;
}

/*------FORM-----------*/
.form-box {
  background-image: url('../img/bg-eis.png');
  background-attachment: fixed;
  width: 100%;
  height: 1300px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0 50px;
}

.form-container {
  color: #495057;
  max-width: 800px;
  background-color: rgba(238, 238, 238, 0.94);
  padding: 50px;
  -webkit-box-shadow: 10px 9px 5px -8px rgba(184, 184, 184, 1);
  -moz-box-shadow: 10px 9px 5px -8px rgba(184, 184, 184, 1);
  box-shadow: 10px 9px 5px -8px rgba(184, 184, 184, 1);
  position: absolute;
  top: 10%;
  left: 25%;
}

.form-container h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input {
  display: block;
  width: 100%;
  border-radius: 3px;
  padding: 15px 0;
  border: 1px solid #ced4da;
  margin: 5px 0;
}

.radio-box {
  padding-right: 20px;
}

.form-text, .radio-text {
  color: red;
  margin: 10px 0;
  font-size: 16px;
  visibility: hidden;
}

.form-text.is-invalid, .radio-text.is-invalid {
  visibility: visible;
}

.form-control.is-invalid {
  border: 1px solid red;
}

.form-check-label.is-invalid {
  color: red;
}

::placeholder {
  color: #616161;
  font-size: 18px;
  padding: 10px;
}

.radio-group, .check-form-group-box {
  display: flex;
}

.radio-box {
  display: flex;
  flex-direction: column;
  
}

.check-form-group-box {
  justify-content: space-between;
  margin-bottom: 20px;
}

select, option {
  width: 100%;
  height: 55px;
  background-color: #588298;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

button.submit {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #588298;
  color: #fff;
}

button.submit:hover {
  background-color: #f3c839;
  color: #495057;
  transition: 0.5s ease-in-out;
}
